<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/globsoft.png') }}">
    <title>GlobSoft Inc. Admin Panal</title>
  </head>
  <body>
    <div class="logout">
      <div class="header-buttons">
          <form action="/logout" method="POST" style="display: inline;">
              <button type="submit" class="btn-logout">Logout</button>
          </form>
      </div>
    </div>

    <div class="container">
      
      <div class="card">
        <div class="content">
          <h3>GlobWeb Customer Managment Portal</h3>
          <a href="/customer">Proceed</a>
        </div>
        </div>
        <div class="card">
        <div class="content">
          <h3>SanoURL URL's Managment Portal</h3>
          <a href="/sanourl">Proceed</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h3>Newsletter Emails Managment Portal</h3>
          <a href="/newsletter">Proceed</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h3>System Status Managment Portal</h3>
          <a href="/system-status">Proceed</a>
        </div>
      </div>
      <div class="card">
        <div class="content">
          <h3>Products Managment Portal</h3>
          <a href="/products-manager">Proceed</a>
        </div>
      </div>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script>
    VanillaTilt.init(document.querySelectorAll(".card"), {
      max: 25,
      speed: 200,
      glare: true,
      "max-glare": 1,
    });
  </script>

</html>

